.paginationContainer {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;

  flex-grow: unset;
}

.paginationItem,
.dots {
  padding: 0 8px;
  height: 24px;
  text-align: center;
  margin: auto 2px;
  color: #fff;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 24px;
}

.paginationItem:hover {
  background-color: rgba(255, 255, 255, 0.09);
  cursor: pointer;
}

.selected {
  background-color: rgba(255, 255, 255, 0.16);
}

.paginationItem .disabled:hover {
  background-color: transparent;
  cursor: default;
}

.paginationItem .disabled .arrow::before {
  border-right: 0.12em solid #fff;
  border-top: 0.12em solid #fff;
}

.arrow::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid #fff;
  border-top: 0.12em solid #fff;
}

.left {
  transform: rotate(-135deg) translate(-50%);
}
.right {
  transform: rotate(45deg);
}

.disabled {
  pointer-events: none;
}

@media screen and (min-width: 769px) {
  .paginationContainer {
    flex-grow: 1;
  }

  .paginationItem,
  .dots {
    margin: auto 4px;
    padding: 0 12px;
    height: 32px;
    min-width: 32px;
  }
}
