.main {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
}

.h1 {
  text-align: center;
  font-size: 26px;
}

.center {
  position: relative;
  width: 100%;
  padding: 2rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
  z-index: -1;
}

.center::before {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

@media screen and (min-width: 769px) {
  .main {
    padding: 0;
    max-width: 1024px;
  }
  .center {
    padding: 4rem 0;
  }

  .h1 {
    font-size: 40px;
  }
}
